# Ignore .secrets directory
.secrets/

# Ignore .env file
.env

# Ignore any directory named archive
archive/
.Rproj.user

# Ignore everything in input text data directory
input\ text\ data/*

# Ignore all png/jpg/jpeg files
# *.png
# *.jpg
# *.jpeg
